@media (min-width: 1367px){
	.main-viewport{
		width: 80em;
	}
	.flex-cont{
		height: 50em;
	}
	.flex-block{
		width: 32%;
	}
}
@media (min-width: 1040px) and (max-width: 1366px){
	.main-viewport{
		width: 60em;
	}
	.flex-cont{
		height: 38em;
	}
	.flex-block{
		width: 32%;
	}
}
@media (min-width: 760px) and (max-width: 1039px){
	.main-viewport{
		width: 40em;
	}
	.flex-cont{
		height: 35em;
	}
	.flex-block{
		width: 32%;
	}
}
@media (min-width: 320px) and (max-width: 760px){
	.main-viewport{
		width: 30em;
	}
	.flex-cont{
		height: 35em;
	}
	.flex-block{
		width: 32%;
	}
}



.main{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 2em;
}
.nameSite{
	font-family: 'Comfortaa', cursive;
}
.slider-container{
	width: 100%;
	margin: 4em auto 0;
}
.main-viewport{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.slides{
	white-space: nowrap;
	position: relative;
	left: 0;
	transition: 0.5s;
}
.big-slide{
	width: 100%;
}
.direct-button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 5%;
	height: 10%;
	z-index: 10;
	transition: 0.3s;
	font-family: 'FontAwesome';
	opacity: 0.5;
	cursor: pointer;
}
.left-btn{
	left: 0;
	border-bottom-right-radius: 0.5em; 
	border-top-right-radius: 0.5em;
}
.right-btn{
	right: 0;
	border-bottom-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
}
.direct-button::after{
	content: '';
	font-size: 3em;
	position: relative;
	top: 35%;
	color: white;
	height: 100%;
}
.left-btn::after{
	content:'\f053';
}
.right-btn::after{
	content:'\f054';
}
.direct-button:hover{
	opacity: 1;
}


.popup-slider{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(128, 128, 128, 0.7);
	z-index: 10;
	display: none;
}
/**********************************************/
.flex-cont{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 2em auto;
	justify-content: space-between;
}

.flex-block:nth-child(1){
	flex-basis: 24%;
	background: url('../../sports/tramp-img/tramp-img1.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(2){
	flex-basis: 50%;
	background: url('../../sports/tramp-img/tramp-img2.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(3){
	flex-basis: 24%;
	background: url('../../sports/tramp-img/tramp-img3.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(4){
	flex-basis: 20%;
	background: url('../../sports/tramp-img/tramp-img4.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(5){
	flex-basis: 28%;
	background: url('../../sports/tramp-img/tramp-img5.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(6){
	flex-basis: 20%;
	background: url('../../sports/climb-img/climb-img1.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(7){
	flex-basis: 29%;
	background: url('../../sports/climb-img/climb-img2.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(8){
	flex-basis: 20%;
	background: url('../../sports/climb-img/climb-img3.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(9){
	flex-basis: 58%;
	background: url('../../sports/climb-img/climb-img4.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block:nth-child(10){
	flex-basis: 20%;
	background: url('../../sports/climb-img/climb-img5.jpg');
	background-size: cover;
	background-position: center;
}
.flex-block{
	margin: 0 0.3em;
	cursor: pointer;
}
.close-popup-block{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}